:root {
  --grey: rgb(107, 107, 107);
  --correct: #3bcb67;
  --absent: #ff6671;
  --misplaced: #ffdd82;
  --white: #f5f5f5;
  --black: rgb(32, 32, 32);
  --bg: var(--white);
  --bg-alt1: #bbbbbb;
  --bg-alt2: rgb(207, 207, 207);
  --input-color: var(--white);
  --shadow: rgba(51, 51, 51, 0.6);

  font-size: clamp(16px, calc(0.5rem + 0.6vw), 1.5rem);
  --size-xs: 0.1rem;
  --size-s: 0.3rem;
  --size-n: 1rem;
  --size-l: 1.2rem;
  --size-xl: 1.5rem;

  --tile-gap: 4px;
}

@media screen and (max-width: 650px), (max-height: 550px) {
  :root {
    --tile-gap: 2px;
  }
}

html.dark {
  --bg: #293138;
  --bg-alt2: #2f343a;
  --bg-alt1: #22282a;
  --input-color: var(--black);
  --shadow: rgba(124, 124, 124, 0.6);
  color: var(--white);
}

html.color-contrast {
  --correct: #009e73;
  --absent: #d55e00;
  --misplaced: #f0e442;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--input-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#app {
  height: 100%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  color: rgb(38, 78, 255);
}
.dark a {
  color: rgb(71, 172, 255);
}

h3 {
  font-weight: normal;
}
