:root{
  --grey: rgb(107, 107, 107);
  --grey-light: rgb(207, 207, 207);
  --correct: #3BCB67;
  --absent: #FF6671;
  --misplaced: #FFDD82;
  --white: rgb(240, 240, 240);
}

html,body, #app{
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input, button{
  font-family: inherit;
}

#app{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}